<!DOCTYPE html>
<html>
<head>
  <title>Lms</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <!-- <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>  -->   

      <%= render 'layouts/navbar' %>

      <%= render 'layouts/messages' %>

      <%= yield %>

      <footer class="footer  py-3 fixed-bottom">
        <div class=" container ">
          <span class="text-muted ">© 2018 Copyright:
            <a href="https://Decabits.com/"> Decabits</a>
          </span>
        </div>
      </footer>
      
    </body>
    </html>
